certifi==2017.7.27.1
chardet==3.0.4
cheroot==5.8.3
CherryPy==11.1.0
click==6.7
cycler==0.10.0
dj-database-url==0.4.2
Flask==0.12.2
get==0.0.21
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
jaraco.classes==1.4.1
Jinja2==2.9.6
MarkupSafe==1.0
matplotlib==2.0.2
numpy==1.13.1
olefile==0.44
pandas==0.20.3
pbr==3.1.1
Pillow==4.3.0
portend==2.2
post==0.0.13
psycopg2==2.7.3.2
public==0.0.38
pyparsing==2.2.0
pyTelegramBotAPI==3.2.1
pytesseract==0.1.7
python-dateutil==2.6.1
pytz==2017.2
query-string==0.0.12
request==0.0.13
requests==2.18.4
scikit-learn==0.19.0
scipy==0.19.1
setupfiles==0.0.50
six==1.11.0
sklearn==0.0
stevedore==1.26.0
tempora==1.9
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.8.1
Werkzeug==0.12.2
sqlalchemy=1.2.2
